@{
    ViewBag.Title = "EmailResult";
}

<div class="logo">
    <img src="~/Images/rad-logo.png" alt="" class="logo-img" />
</div>
<div class="form">
    <h1>Project Submission</h1>
    <h2>Your project has been submitted!</h2>
</div>
