body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    background: url(/Images/1920-x-1200-bg.png) no-repeat fixed center top;
}

.panel {
    margin-left: 25px;
    margin-top: 10px;
    height: 350px;
    width: 600px;
    position: absolute;
}

.hidden {
    display: none;
}

.form {
    background-color: #FFF;
    height: 530px;
    top: 108px;
    border-radius: 20px;
    box-shadow: 0 0 50px #000;
    -moz-box-shadow: 0 0 50px #000;
    -webkit-box-shadow: 0 0 100px #000;
}

.form, .logo {
    width: 650px;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    margin-top: 50px;
    margin-bottom: 10px;
}

.form h1 {
    padding: 15px 25px;
    margin: 0;
}

form h1, form .subheader {
    font-family: Arial Black, sans-serif;
}

.form label {
    font-size: 14px;
}

.form .field {
    padding-top: 5px;
}

    .form .field input, .form .field textarea {
        border: 1px solid #AAA;
        margin: 3px 0;
        width: 200px;
        padding: 2px;
    }

    .form .field textarea {
        height: 40px;
    }

.form .subheader {
    background-color: #AAA;
    margin: 0;
    color: #FFF;
    padding: 12px 0 12px 50px;
    border-radius: 19px;
    height: 20px;
    width: 650px;
    margin-left: -20px;
    box-shadow: 0 0 35px rgba(0,0,0,0.3);
}

    .form .subheader h2 {
        font-size: 18px;
        margin: 0;
        position: absolute;
        width: 600px;
    }

.logo-img {
    width: 320px;
}

.button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

    .button.left {
        right: auto;
    }

    .button:hover {
        cursor: pointer;
    }

form h1, .button {
    color: #AAA;
    font-size: 40px;
    letter-spacing: -2px;
    font-weight: bold;
}

.field-validation-error {
    color: #FF4040;
    font-weight: bold;
    background: url(/Images/error.png) no-repeat;
    padding-left: 20px;
    margin-left: 5px;
}

.req {
    font-size: 17px;
    font-weight: bold;
    line-height: 0px;
    color: #666;
}

.req-desc {
    position: relative;
    top: 345px;
    margin: 25px;
    font-size: 10px;
    color: #666;
}